<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990982185354-9c4580s479gbu7043d7h0ftf1qdg44li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990982185354-9c4580s479gbu7043d7h0ftf1qdg44li</string>
	<key>API_KEY</key>
	<string>AIzaSyCg8QaNNb3Q1Yk9fNjlW7uR85Iy8lUsWkU</string>
	<key>GCM_SENDER_ID</key>
	<string>990982185354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ann.SDGoalsOnTheGo</string>
	<key>PROJECT_ID</key>
	<string>tasksdb-58fee</string>
	<key>STORAGE_BUCKET</key>
	<string>tasksdb-58fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990982185354:ios:8918697cad9e791eebe873</string>
</dict>
</plist>